{% extends 'base.html' %}

{% block content %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Image there is a wine bottle her</h1>
            <p class="lead">Jib square-rigged Nelsons folly gibbet boom holystone pirate Admiral of the Black interloper sutler. Port scourge of the seven seas grog brig rope's end run a rig fathom lanyard line booty. Bounty wherry walk the plank grapple come about black jack heave to stern flogging gibbet.</p>
            <p class="lead">
            </p>
          </div>
        </div>

      </div>

    </div>
{% endblock %}
