{% extends 'base.html' %}

{% block content %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">This will be made one day.</h1>
            <p class="lead">American Main bilge water lugsail league topsail execution dock stern six pounders hulk grog blossom. Grog blossom jury mast Jack Ketch Privateer case shot Letter of Marque Jolly Roger pressgang warp ahoy. Spyglass topsail Privateer lookout Brethren of the Coast Jack Ketch walk the plank belay fluke six pounders.</p>
            <p class="lead">
            </p>
          </div>
        </div>

      </div>

    </div>
{% endblock %}
